$numbers: (5: One, 4: Two, 3: Three, 2: Four, 1: Five);

div {
  margin-bottom: .5em;
  margin-top: .5em;
}

p {
  margin: 0;
}

@each $key, $value in $numbers {
  .stanza-#{$key} {
    @if $key == 5 {
      .line-1::before {
        content: '#{$value} little monkey jumping on the bed';
      }

      .line-2::before {
        content: 'They fell off and bumped their head';
      }

      .line-5::before {
        content: 'Put those monkeys right to bed';
      }
    } @else {
      .line-1::before {
        content: '#{$value} little monkeys jumping on the bed';
      }

      .line-2::before {
        content: 'One fell off and bumped their head';
      }

      .line-5::before {
        content: 'No more monkeys jumping on the bed';
      }
    }
  }
}

.line-3::before {
  content: 'Mama called the doctor';
}

.line-4::before {
  content: 'And the doctor said';
}

// HTML
// ====
// 
// <div class="stanza-1"><p class="line-1"></p><p class="line-2"></p><p class="line-3"></p><p class="line-4"></p><p class="line-5"></p></div>
// <div class="stanza-2"><p class="line-1"></p><p class="line-2"></p><p class="line-3"></p><p class="line-4"></p><p class="line-5"></p></div>
// <div class="stanza-3"><p class="line-1"></p><p class="line-2"></p><p class="line-3"></p><p class="line-4"></p><p class="line-5"></p></div>
// <div class="stanza-4"><p class="line-1"></p><p class="line-2"></p><p class="line-3"></p><p class="line-4"></p><p class="line-5"></p></div>
// <div class="stanza-5"><p class="line-1"></p><p class="line-2"></p><p class="line-3"></p><p class="line-4"></p><p class="line-5"></p></div>
